server:
  port: 9095

spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_db
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


info:
  app:
    name: Product Service
    description: E-commerce User Microservice
    version: 1.0.0

