server:
  port: 9093

spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        default_schema: inventory_schema

management:
  server:
    port: 8083
  endpoints:
    web:
      exposure:
        include: health,info,beans,metrics,env

info:
  app:
    name: Inventory Service
    description: E-commerce Inventory Microservice
    version: 1.0.0